---
import type { GetStaticPaths } from "astro";
import Hero from "@/components/hero.astro";
import NewsPreview from "@/components/news-preview.astro";
import Pagination from "@/components/pagination.astro";
import Layout from "@/layout/default.astro";
import { getNews } from "@/lib/utils";

export let getStaticPaths = (async ({ paginate }) => {
  let news = await getNews(false);

  return paginate(news, { pageSize: 6 });
}) satisfies GetStaticPaths;

let { page } = Astro.props;
---

<Layout
  title="News"
  description="Lernen Sie mehr über das was wir machen. Auf dieser Seite finden Sie eine Historie unserer finanzierten oder selbst durchgeführten Aktivitäten"
>
  <Hero title="Aktuelle News">
    Lernen Sie mehr über das was wir machen. Auf dieser Seite finden Sie eine
    Historie unserer finanzierten oder selbst durchgeführten Aktivitäten, etwa
    den 3-Länderlauf oder die trinationalen Ferienlager mit Jugendlichen.
  </Hero>

  <div
    class="mb-16 grid grid-cols-1 gap-x-4 gap-y-16 sm:grid-cols-2 md:gap-x-8 lg:grid-cols-1"
  >
    {
      page.data.map((entry) => (
        <NewsPreview
          title={entry.data.title}
          date={entry.data.created_at}
          excerpt={entry.data.excerpt}
          href={Boolean(entry.body) ? `/news/${entry.slug}` : undefined}
          image={entry.data.image}
        />
      ))
    }
  </div>

  <Pagination page={page} />
</Layout>
