---
import { formatDate } from "@/lib/utils";

interface Props {
  title: string;
  href: string;
  date?: Date;
  imageUrl?: string;
}

const { title, date, imageUrl, href } = Astro.props;
---

<article
  class="relative shadow-lg after:absolute after:inset-0 after:z-0 after:rounded-xl after:bg-gradient-to-b after:from-transparent after:to-gray-900/50"
>
  <img
    src={imageUrl}
    alt="placeholder image for later purposes"
    width="400"
    height="400"
    class="max-h-72 w-full rounded-xl object-cover sm:max-h-none"
  />
  <div class="absolute inset-0 z-10 flex flex-col justify-end p-4 md:p-8">
    {
      date ? (
        <time datetime={date.toISOString()} class="mb-1 text-gray-200">
          {formatDate(date)}
        </time>
      ) : null
    }
    <h3 class="h4">
      <a href={href} class="text-white after:absolute after:inset-0">{title}</a>
    </h3>
  </div>
</article>
