---
import { Image } from "astro:assets";
import { formatDate } from "@/lib/utils";
import { type ImageMetadata } from "astro";

interface Props {
  title: string;
  href: string;
  date?: Date;
  image?: ImageMetadata;
}

const { title, date, image, href } = Astro.props;
---

<article
  class="group relative overflow-hidden rounded-xl shadow-lg after:absolute after:inset-0 after:z-0 after:rounded-xl after:bg-gradient-to-b after:from-transparent after:to-gray-900/80"
>
  {
    image && (
      <Image
        src={image}
        alt={`bild vom ${title}`}
        width="400"
        height="400"
        class="aspect-square h-full max-h-72 w-full object-cover transition-transform duration-500 group-hover:scale-110 sm:max-h-none"
      />
    )
  }

  <div
    class="absolute inset-0 z-10 flex flex-col justify-end p-4 md:px-8 md:py-6"
  >
    {
      date ? (
        <time datetime={date.toISOString()} class="mb-1 text-gray-200">
          {formatDate(date)}
        </time>
      ) : null
    }
    <h3 class="h4">
      <a href={href} class="text-white after:absolute after:inset-0">{title}</a>
    </h3>
  </div>
</article>
