---
import { Picture } from "astro:assets";
import {} from "astro";
import { formatDate } from "@/lib/utils";

interface Props {
  title: string;
  href?: string;
  excerpt: string;
  date: Date;
  image?: {
    src: string;
    alt?: string;
    caption?: string;
  };
}

const { title, date, image, excerpt, href } = Astro.props;
---

<article class="flex flex-col gap-6 lg:flex-row lg:gap-12">
  {
    image ? (
      <Picture
        src={image.src}
        formats={["avif", "webp"]}
        alt={image.alt || ""}
        width={250}
        quality={80}
        height={250}
        class="h-64 w-full rounded-xl object-cover shadow-lg lg:aspect-square lg:h-auto lg:w-auto lg:max-w-64"
      />
    ) : null
  }
  <div class="flex flex-col items-start">
    <time datetime={date.toISOString()} class="mt-4 text-sm text-gray-500"
      >{formatDate(date)}</time
    >
    <h2 class="h4 mb-6 mt-1">
      {title}
    </h2>
    <p>
      {excerpt}
    </p>

    {
      href ? (
        <a href={href} class="btn btn-secondary mt-6">
          {" "}
          Weiterlesen &rarr;{" "}
        </a>
      ) : null
    }
  </div>
</article>
