---
interface Props {
  title: string;
  href: string;
  excerpt: string;
  date: Date;
  imageUrl?: string;
}

const { title, date, imageUrl, excerpt, href } = Astro.props;
---

<article class="mb-16 flex gap-x-12">
  <img
    src={imageUrl}
    alt="placeholder image for later purposes"
    width="250"
    height="250"
    class="rounded-xl"
  />
  <div class="flex flex-col justify-center">
    <time datetime="">{date}</time>
    <h2 class="h4 mb-6 mt-1">
      <a href={href}>{title}</a>
    </h2>
    <p>
      {excerpt}
    </p>
    <a href={href} class="btn-btn-secondary mt-6"> Weiterlesen &rarr; </a>
  </div>
</article>
