---
import { formatDate } from "@/lib/utils";
import { type ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  href: string;
  excerpt: string;
  date: Date;
  image?: ImageMetadata;
}

const { title, date, image, excerpt, href } = Astro.props;
---

<article class="flex flex-col gap-6 lg:flex-row lg:gap-12">
  {
    image && (
      <Image
        src={image}
        alt=""
        width="250"
        height="250"
        class="h-64 w-full rounded-xl object-cover shadow-lg lg:aspect-square lg:h-auto lg:w-auto lg:max-w-64"
      />
    )
  }
  <div class="flex flex-col justify-center">
    <time datetime={date.toISOString()} class="text-sm text-gray-500"
      >{formatDate(date)}</time
    >
    <h2 class="h4 mb-6 mt-1">
      {title}
    </h2>
    <p>
      {excerpt}
    </p>
    <a href={href} class="btn btn-secondary mt-6 w-max"> Weiterlesen &rarr; </a>
  </div>
</article>
