---
import Header from "@/components/header.astro";
import Footer from "@/components/footer.astro";
import "@/styles/base.css";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image } = Astro.props;
---

<html lang="de" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Andreas Remdt" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#f9c910" />

    <meta property="og:title" content={`${title} | Regio Lions`} />
    <meta property="og:description" content={description} />
    {image ? <meta property="og:image" content={image} /> : null}
    <meta property="og:site_name" content="Regio Lions" />
    <meta property="og:url" content={Astro.url} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={`${title} | Regio Lions`} />
    <meta name="twitter:description" content={description} />
    {image ? <meta name="twitter:image" content={image} /> : null}

    <title>{title} | Regio Lions</title>

    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body class="leading-relaxed text-gray-600">
    <a
      href="#content"
      class="btn btn-primary absolute -top-1 left-1/2 z-10 -translate-x-1/2 -translate-y-full rounded-t-none transition-transform focus:translate-y-0"
      >Zum Inhalt springen</a
    >

    <Header />

    <main class="mx-auto max-w-7xl px-4 md:px-8" id="content">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src:
      local("Roboto"),
      local("Roboto-Regular"),
      url(/fonts/roboto.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
    font-display: swap;
  }

  @font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src:
      local("Roboto Bold"),
      local("Roboto-Bold"),
      url(/fonts/roboto-bold.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
    font-display: swap;
  }

  @font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src:
      local("Roboto Medium"),
      local("Roboto-Medium"),
      url(/fonts/roboto-medium.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
    font-display: swap;
  }

  @font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    src:
      local("Roboto Black"),
      local("Roboto-Black"),
      url(/fonts/roboto-black.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
    font-display: swap;
  }
</style>
